:root {
  --default-font-style: "Lato", sans-serif;
  --default-font-size: 1.5rem;
  --default-font-color: #ffffff;
  --default-graph-color: #1f77b4; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

header {
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem; }

body {
  box-sizing: border-box;
  font-family: var(--default-font-style);
  font-size: var(--default-font-size); }

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none; }

a,
a:hover,
a:active,
a:visited,
a:focus {
  color: inherit;
  text-decoration: none; }

ul,
ol {
  margin-left: 2rem;
  line-height: 3rem; }

tbody {
  width: 100%; }

.report-section {
  background-color: white;
  border-radius: 4px;
  margin-top: 2rem;
  box-shadow: 5px 10px 30px -8px rgba(0, 0, 0, 0.75); }
  .report-section__header {
    background-color: #333399;
    padding: 1rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px; }
    .report-section__header > h2 {
      color: white; }
  .report-section__body {
    padding: 1rem; }

.performance-table {
  width: 100%; }
  .performance-table__row {
    width: 100%;
    height: 6rem; }
  .performance-table__cell {
    text-align: center;
    background-color: #e8e8e8; }
    .performance-table__cell--heading {
      padding: 0.75rem; }

.page-background {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #6c0979;
  background: linear-gradient(0deg, #6c0979 0%, #00d4ff 100%);
  opacity: 0.75; }

.page-wrapper {
  width: 60%;
  margin: 0rem auto;
  padding: 2rem 0; }

h2 {
  font-size: 2rem; }

.hidden {
  visibility: hidden;
  display: none; }
